<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container">

    <div class="jumbotron" style="text-align:center">
        <h1>Aplicación registro alumnos</h1>
    </div>
    
    <p>Estamos en el HOME.</p>
</div>

<%- include('./partials/footer.ejs') %>

